@media (max-width: 768px) {
    .container {
        max-width: 600px;
    }

    #section-1 .items-box {
        display: block;
    }

    #section-1 .items-box .single-item {
        margin-bottom: 15px;
        ;
    }
}